header {
  box-sizing: border-box;
  height: 80px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  position: fixed;
  width: 100%;
  transition: all ease 1s;
}
.active-header {
  background: none;
  height: 60px;
}
.active-header .logo {
  height: 40px;
}
.active-header #menu a {
  font-size: 1rem;
}

.logo {
  font-size: 1.5rem;
  width: auto;
  height: 60px;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  margin-right: 0.2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.6s;
  border-radius: 15px;
}

#menu a:hover {
  background: rgb(255, 255, 255);
  font-size: 1.5rem;
  color: #000000;
  border: solid 2px;
  border-radius: 15px;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

.rede-sociais {
  margin-right: 3rem;
  font-size: 2rem;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-social {
  color: rgb(255, 255, 255);
  border-radius: 15px;
}
.icon-social:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: solid 2px;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .rede-sociais {
    display: none;
  }
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
  }
  #nav.active #menu {
    height: calc(100vh - 80px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    color: #000000;
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #menu a:hover {
    color: #ffffff;
    border: none;
    border-radius: none;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    /* background: none; */
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
